[mysqld]
port = 3306
bind_address = 0.0.0.0
skip-networking = 0
user = root
datadir = /var/lib/mysql
socket = /run/mysqld/mysqld.sock
tmpdir = /tmp

# Configuration for error logging
log_error = /var/log/mysql/mariadb.err
server_id = 1

[client-server]
socket = /run/mysqld/mysqld.sock
